#container input {
    font-size: 14px;
    border-radius: 3px;
    padding: 0 12px;
    border: 1px solid #c4c6cf;
    background-color: #fff;
    height: 38px;
    padding: 0 12px;
    font-size: 14px;
}

#container p {
    line-height: 60px;
    font-size: 14px;
    color: #666666;
    margin-left: 250px
}

.pcbar {
    background: #fff
}

.login {
    height: 600px;
    margin: 0 auto;
    width: 1150px;
    overflow: hidden;
    position: relative;
}

.login .ad img {
    position: absolute;
    top: 100px
}

body {
    background: #17073d;
}


/* tab切换 css*/

#tab {
    width: 350px;
    height: 296px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    left: 800px;
    top: 100px
}

#tab .tab_title {
    height: 38px;
    background: #ccc;
}

#tab .tab_title li {
    float: left;
}

#tab .tab_title li a {
    height: 38px;
    text-decoration: none;
    width: 113px;
    text-align: center;
    line-height: 38px;
    display: block;
    color: #ff1268;
    font-weight: 700
}

#tab .tab_content {
    padding: 10px;
}

#tab .tab_content li {
    line-height: 24px;
}

#tab .tab_title li.active {
    background: #fff;
    color: #ff1268;
}

#tab .tab_content .item {
    display: none;
}

#tab .tab_content .show123 {
    display: block;
}

#tab1 {
    width: 400px;
    height: 200px;
    background: #fff;
    cursor: pointer;
}

#tab1 .tab_title {
    height: 30px;
    background: #ccc;
}

#tab1 .tab_title li {
    float: left;
}

#tab1 .tab_title li a {
    text-decoration: none;
    width: 80px;
    text-align: center;
    line-height: 30px;
    display: block;
}

#tab1 .tab_content {
    padding: 10px;
}

#tab1 .tab_content li {
    line-height: 24px;
}

#tab1 .tab_title li.active {
    background: #fff;
}

#tab1 .tab_content .item {
    display: none;
}

#tab1 .tab_content .show123 {
    display: block;
}